:host ::ng-deep {

  .item-list-item {
    img {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      width: 20%;
    }
  }

  .p-button {
    float: right;
    margin-bottom: .5rem;
    margin-left: .5rem;
  }
}
