<h1>Movie detail</h1>
<p-card>
  <ng-template pTemplate="header">
    <div class="p-grid item-list-item">
      <img class="p-lg-3" src="{{movie?.poster}}" alt="{{movie?.title}}">
      <div class="p-grid p-lg-9">
        <div class="p-lg-6">
          <p>Title: {{movie?.title}}</p>
          <p>Year: {{movie?.year}}</p>
          <p *ngIf="movie?.seen">Seen: {{movie?.seen}}</p>
        </div>
        <div class="p-lg-6">
          <p *ngIf="movie?.runtime">RunTime: {{movie?.runtime}}</p>
          <p *ngIf="movie?.rating">Rating: {{movie?.rating}}</p>
        </div>
        <div class="p-lg-12">
          <span *ngIf="movie?.plot">Plot: {{movie?.plot}}</span>
        </div>
      </div>
    </div>
    <p-button routerLink="/movie/home">Go Back</p-button>
    <p-button (click)="delete(movie)">Delete</p-button>
  </ng-template>

</p-card>
