<h2 class="center">Add a movie</h2>
<app-search (searchedItem)="search($event)"></app-search>
<h3 class="center">My movie collection</h3>
<app-list [myItemList]="foundMovies" (selected)="addSelectedMovieAndDetail($event)"></app-list>

<!--<ul class="collection">-->
<!--  <li class="collection-item avatar" *ngFor="let movie of foundMovies">-->
<!--    <a (click)="addSelectedMovieAndDetail(movie)">-->
<!--      <img [src]="movie.poster" alt="{{movie.title}}"/>-->
<!--      <span class="title">{{movie.title}}</span>-->
<!--    </a>-->

<!--  </li>-->
<!--</ul>-->
